!!!
%html{ lang: "en" }
  %head
    %title GiveBackHack - A Launchpad for Social Innovation
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %link{ rel: "stylesheet", type: "text/css", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "main.css"}

  %body
    .section.grey.header
      .container
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{ type: "button", data-toggle: "collapse", data-target: "#gbh-navbar" }
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand.logo{ href: "index.html" } GiveBackHack

            #gbh-navbar.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{ href: "about.html" } About
                %li
                  %a{ href: "judges.html" } Judges &amp; Mentors
                %li
                  %a{ href: "schedule.html" } Schedule
                %li
                  %a{ href: "#" } Get Involved
                %li
                  %a{ href: "#" } Contact
                %li.button
                  %a{ href: "http://www.eventbrite.com/e/givebackhack-tickets-15463827725", target: "_blank" } Register

    <%= contents %>

    .footer.section.grey
      .container
        .row
          .col-md-6
            %p &copy; 2015 GiveBackHack, A Launchpad for Social Innovation
          .col-md-6
            %p.right.social
              %a{ href: "#" }
                %i.fa.fa-facebook
              %a{ href: "#" }
                %i.fa.fa-twitter

    %script{ type: "text/javascript", src: "main.js" }

