!!!
%html{ lang: "en" }
  %head
    %title GiveBackHack - A Launchpad for Social Innovation
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %link{ rel: "stylesheet", type: "text/css", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "main.css"}

  %body
    .section.grey.header
      .container
        %nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{ type: "button", data-toggle: "collapse", data-target: "#gbh-navbar" }
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand.logo{ href: "#" } GiveBackHack

            #gbh-navbar.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{ href: "#" } About
                %li
                  %a{ href: "#" } Judges &amp; Mentors
                %li
                  %a{ href: "#" } Schedule
                %li
                  %a{ href: "#" } Get Involved
                %li
                  %a{ href: "#" } Contact
                %li.button
                  %a{ href: "#" } Register

    <%= contents %>

    %script{ type: "text/javascript", src: "main.js" }

