.hero .button, .section.content .button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
  padding: 10px 25px;
  background: #00EAC8;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;

  &:hover {
    text-decoration: none;
    background: #3FC9B5;
  }
}
