// Form elements
.pretty-forms {

  input[type="text"], input[type="email"], textarea {
    background: #F3F3F3;
    border: none;
    padding: 8px;
    width: 100%;
  }

  textarea {
    height: 90px;
  }

  label {
    line-height: 2.2em;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
  }

  input[type="submit"] {
    background: #FF4F98;
    border-radius: 6px;
    border: none;
    padding: 8px 18px;
    color: #FFF;
    width: 99%;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  input.no-stretch {
    width: auto;
  }

  &.left-side {
    input[type="text"], input[type="email"] {
      width: 95%;
    }

    textarea {
      width: 96.5%;
    }
  }

}
