.header {
  .navbar {
    background: none;
    border: none;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none;
  }

  .logo {
    display: block;
    text-indent: -999em;
    height: 50px;
    width: 280px;
    background: url(img/logo.png);
    background-size: contain;
  }

  .navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    font-size: 1.0em;

    &:hover {
      text-decoration: underline;
    }
  }

  .navbar-default .navbar-nav > li.button > a {
    padding: 10px 15px;
    background: #00EAC8;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 14px;
    transition: 0.3s all ease-in-out;

    &:hover {
      text-decoration: none;
      background: #3FC9B5;
    }
  }

  .navbar-default .navbar-toggle {
    margin-right: 0;
  }

}
