.section {
  background: #FFF;
  padding: 35px 0;

  &.grey {
    background: #424242;
  }

  &.header {
    padding: 25px 0 0;
  }

}

// Index hero
.hero.section {
  padding: 90px 0;
  background: url(img/skyline.jpg) no-repeat 50% 60%;
  background-size: cover;

  h1, h2, h3 {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
  }

  h2, h3 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
  }

  h1 {
    font-size: 6.2em;
    margin-bottom: 15px;
    font-family: "Blackout", sans-serif;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 14px;

    .days {
      font-size: 0.8em;
    }
  }

  h3 {
    font-size: 1.9em;
    font-weight: 300;
  }
}

// Steps section
.steps.section {
  text-align: center;

  img {
    max-height: 110px;
    max-width: 80%;
  }

  h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
    color: #FFF;
    font-weight: 300;
    width: 90%;
    margin: 20px auto;
    line-height: 1.6em;
  }
}

// Index sponsors section
.sponsors.section {
  img {
    margin: 30px 0 20px;
    max-width: 88%;
  }
}

// Content title
.title.section {
  padding: 10px 0;
  background: #FFF url(img/titleline.png) repeat-x bottom;

  h1 {
    font-style: italic;
    font-size: 3.5em;
    font-weight: 500;
    color: #424242;
    letter-spacing: 3px;
  }
}

.subtitle.section {
  background: #E9E9E9;
  padding: 5px 0 20px;

  h2 {
    font-size: 2.0em;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
  }
}

// Content
.content.section {
  h1:first-child {
    margin-top: 0;
  }

  ul li, p, dl dd, dl dt {
    font-size: 1.1em;
    line-height: 1.9em;
  }

  dl dd, dl dt {
    float: left;
  }

  dl {
    overflow: hidden;
  }

  dl dt {
    width: 18%;
  }
  dl dd {
    width: 82%;
  }

  h1 {
    margin-top: 20px;
  }
}

// Footer
.footer.section {
  padding: 30px 0 20px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;

  .social a {
    color: #FFF;
    margin-left: 15px;
    font-size: 1.4em;

    &:hover {
      color: #FF3486;
    }
  }
}
