// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto+Condensed:400,300,700);

@font-face {
  font-family: 'Blackout';
  src: url('fonts/blackout-midnight-webfont.eot');
  src: url('fonts/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/blackout-midnight-webfont.woff2') format('woff2'),
    url('fonts/blackout-midnight-webfont.woff') format('woff'),
    url('fonts/blackout-midnight-webfont.ttf') format('truetype'),
    url('fonts/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Body default font family
body {
  font-family: "Roboto Slab", sans-serif;
}

// Links
a {
  color: #FF3486;

  &:hover {
    color: #FF3486;
  }
}

// Headers
h1 {
  color: #FF3486;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1em;
}

// Utilities
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
