.section.title
  .container
    .row
      .col-md-12
        %h1.center About
.section.subtitle
  .container
    .row
      .col-md-12
        %h2.center We believe the best ideas to help the community come from the community itself.

.section.content
  .container
    .row
      .col-md-9.pull-right
        %h1 What is the GiveBackHack?
        %p GiveBackHack is a weekend-long event that brings together passionate community members to develop sustainable, technology-based solutions to some of our most pressing social issues. We are the launchpad for social innovation you need to take an idea into a reality. We bring together community leaders, designers, developers, and other concerned citizens to create solutions that will help make a lasting impact.

        %p At a GiveBackHack event, you’ll have a chance to:

        %ul
          %li Share your idea and/or listen to other partcipants' ideas of how to help solve the community's problems.
          %li Team up around an idea that you believe in and work on it over the weekend. Build it with the support of some incredible mentors.
          %li Present the idea with your team to a panel of distinguished judges, who decide top teams that are provided with resources to move forward and sustain their ideas.

        %p Our goal is to empower local citizens who have a spark of social entrepreneurship with everything they need to have that flame ignited. This allows them to take their ideas/passions into a reality that will have a positive social impact in Columbus.

        %hr

        %h1 When &amp; where is the event happening?
        %p Friday to Sunday in February of 2016 at the CCAD MindMarket in Columbus, Ohio.

        %hr

        %h1 Can you tell me more about the event?
        %p Here's how it'll work:</p>
        %ul
          %li Share your idea and/or listen to other partcipants' ideas of how to help solve the community's problems.
          %li Team up around an idea that you believe in and work on over the weekend. Build it with the support of some incredible mentors.
          %li Present the idea with your team to a panel of distinguished judges, who decide which team wins!
        %p
          %a{ href: "schedule.html" } See the full schedule &raquo;

        %hr

        %h1 What if I don't have an idea?
        %p You don't have to have an idea to participate. No special skills are required. The only thing you need is a passion to make a difference in our community. If you happen to be especially gifted, we are always look for more mentors to help out with the participants.

        %hr

        %h1 What if I cannot attend but still what to help?
        %p If you'd like to support, please share us on social media. You are also invited to the presentations on Sunday at the end of the weekend. It's FREE to attend the presentations. And if you are interested in sponsoring, we'd be happy to discuss a partnership too.

      .col-md-3.pull-left
        %img.partial-width{ src: "img/ohio.png" }
