.section.title
  .container
    .row
      .col-md-12
        %h1.center Contact

.section.content
  .container
    .row
      .col-md-6.pretty-forms.left-side
        %form{ action: "#", method: "post" }
          .row
            .col-md-3
              %label First Name
            .col-md-9
              %input{ type: "text", name: "f_name" }
          .row.margin-top-10
            .col-md-3
              %label Last Name
            .col-md-9
              %input{ type: "text", name: "l_name" }
          .row.margin-top-10
            .col-md-3
              %label Email
            .col-md-9
              %input{ type: "email", name: "email" }
          .row.margin-top-10
            .col-md-3
              %label Subject
            .col-md-9
              %input{ type: "text", name: "subject" }
          .row
            .col-md-12
              %label Message
          .row
            .col-md-12
              %textarea{ name: "message" }
          .row
            .col-md-12
              %input.no-stretch.margin-top-10{ type: "submit", value: "Send!" }

      %hr.visible-xs.visible-sm

      .col-md-6
        %h1 Social Media
        .row.social-contact
          .col-md-1
            %i.fa.fa-twitter
          .col-md-11
            %p Follow us on Twitter
            %p
              %a{ href: "http://twitter.com/givebackhack" } @givebackhack
        .row.margin-top-15.social-contact
          .col-md-1
            %i.fa.fa-facebook
          .col-md-11
            %p Like us on Facebook
            %p
              %a{ href: "http://facebook.com/givebackhack" } Visit the Facebook page &raquo;
        %hr.margin-top-50

        .row
          .col-md-12.pretty-forms
            %h1 Mailing List
            %p Please enter your email to get news and updates (no spam!)
            %form{ action: "#", method: "post" }
              .row
                .col-md-9
                  %input{ type: "text" }
                .col-md-3
                  %input{ type: "submit", value: "Sign Up" }
    %hr.margin-top-40

    .row.margin-top-50
      .col-md-12
        %h1 Organizers
    .row.center.margin-top-40.organizers
      .col-md-3
        %img.small-picture{ src: "img/organizers/suzy.png" }
        %h4 Suzy Bureau
        %h5 Organizer
        %p
          %a{ href: "http://twitter.com/suzybureau" }
            %i.fa.fa-twitter
          %a{ href: "http://linkedin.com/in/suzannebureau" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/shelby.png" }
        %h4 Shelby Kretz
        %h5 Organizer
        %p
          %a{ href: "http://twitter.com/shelbykretz" }
            %i.fa.fa-twitter
          %a{ href: "http://linkedin.com/in/shelbykretz" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/louisa.png" }
        %h4 Louisa Lee
        %h5 Organizer
        %p
          %a{ href: "http://linkedin.com/pub/louisa-lee/53/740/ab3" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/ally.png" }
        %h4 Ally Silva
        %h5 Organizer
        %p
          %a{ href: "http://twitter.com/allysilva" }
            %i.fa.fa-twitter
          %a{ href: "http://linkedin.com/pub/ally-silva/50/350/7a6" }
            %i.fa.fa-linkedin
    .row.center.margin-top-40.organizers
      .col-md-3
        %img.small-picture{ src: "img/organizers/mike.png" }
        %h4 Mike Letscher
        %h5 Web/Design
        %p
          %a{ href: "http://twitter.com/mikeletscher" }
            %i.fa.fa-twitter
          %a{ href: "http://linkedin.com/in/mikeletscher" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/edward.png" }
        %h4 Edward Liu
        %h5 Web/Design
        %p
          %a{ href: "http://linkedin.com/callibrate" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/sofia.png" }
        %h4 Sofia Durranti
        %h5 Organizer
        %p
          %a{ href: "http://twitter.com/SofiaDurrani" }
            %i.fa.fa-twitter
          %a{ href: "http://linkedin.com/in/sofiadurranti" }
            %i.fa.fa-linkedin
      .col-md-3
        %img.small-picture{ src: "img/organizers/heidi.png" }
        %h4 Heidi Hoffecker
        %h5 Organizer
        %p
          %a{ href: "http://linkedin.com/pub/heidi-hoffecker/22/974/b85" }
            %i.fa.fa-linkedin
