.section.title
  .container
    .row
      .col-md-12
        %h1.center Ideas

.section.content
  .container
    .row
      .col-md-12
        %p Have you ever had an idea to solve an issue in our community? GiveBackHack is the next step. Attend to team up with others and find the resources to make that idea a reality. 
        %p Below is some inspiration for ideas that could make Columbus better.

        %hr

        .ideas-tiles
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x300" }
          .tile
            %img{ src: "http://placehold.it/280x300" }
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x530" }
          .tile
            %img{ src: "http://placehold.it/280x300" }
          .tile
            %img{ src: "http://placehold.it/280x300" }
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x400" }
          .tile
            %img{ src: "http://placehold.it/280x400" }

