.hero.section
  .container
    .row
      .col-md-12
        %h1
          .pink It's Happening Soon!
          Join us for a weekend
          %br
          OF IDEAS, INSPIRATION, &amp; FUN!
        %h2
          April 17&mdash;19 (
          %span.days Fri&mdash;Sun
          ) @ CCAD Mindmarket
        %p.center.margin-top-50
          %a.large.button{ href: "http://www.eventbrite.com/e/givebackhack-tickets-15463827725", target: "_blank" } Register now!

.steps.grey.section
  .container
    .row
      .col-md-12
        %h1.center GiveBackHack is your Launchpad for Social Innovation
    .row.margin-top-30
      .col-md-4
        %img{ src: "img/bulb.png" }
        %h2 1. Share your idea and/or listen to other partcipants' ideas of how to help solve the community's problems.
      .col-md-4
        %img{ src: "img/hammer.png" }
        %h2 2. Team up around an idea that you believe in and work on it over the weekend. Build it with the support of some incredible mentors.
      .col-md-4
        %img{ src: "img/rocket.png" }
        %h2 3. Present the idea with your team to a panel of distinguished judges, who decide which team wins seed funding of up to $10,000!

.sponsors.section
  .container
    .row
      .col-md-12
        %h1 Thanks to Our Sponsors!
    .row
      .col-md-3.left
        %a{ href: "http://createcolumb.us/", target: "_blank" }
          %img{ src: "img/createcolumbus.png" }
      .col-md-3.center
        %a{ href: "http://ccad.edu/", target: "_blank" }
          %img{ src: "img/ccad.png" }
      .col-md-3.center
        %img{ src: "img/tonywells.png" }
      .col-md-3.right
        %a{ href: "http://printsyndicate.com/", target: "_blank" }
          %img{ src: "img/printsyndicate.jpg" }
    .row
      .col-md-3.left
        %a{ href: "http://taivara.com/", target: "_blank" }
          %img{ src: "img/taivara.jpg" }
      .col-md-3.center
        %a{ href: "http://get.uber.com/go/HACKcbus15", target: "_blank" }
          %img{ src: "img/uber.png" }
      .col-md-3.center
        %a{ href: "http://crimsoncup.com/", target: "_blank" }
          %img{ src: "img/crimsoncup.jpg" }
      .col-md-3.right
        %a{ href: "http://buckeyeinteractive.com/", target: "_blank" }
          %img{ src: "img/buckeyeinteractive.png" }
    .row
      .col-md-3.left
        %a{ href: "http://www.cardinalsolutions.com/", target: "_blank" }
          %img{ src: "img/cardinal.jpg" }
      .col-md-3.center
        %a{ href: "http://anecka.com/", target: "_blank" }
          %img{ src: "img/anecka.png" }
      .col-md-3.center
        %a{ href: "http://www.cincohio.com/", target: "_blank" }
          %img{ src: "img/cinco.png" }
      .col-md-3.right
        %a{ href: "http://www.cleanturn.org/", target: "_blank" }
          %img{ src: "img/cleanturn.jpg" }
    .row
      .col-md-3.left
        %a{ href: "http://www.yelp.com/", target: "_blank" }
          %img{ src: "img/yelp.png" }
      .col-md-3.center
        %a{ href: "http://www.freedomalacart.org/", target: "_blank" }
          %img{ src: "img/freedomalacart.png" }
      .col-md-3.center
        %a{ href: "http://www.bigkittylabs.com/", target: "_blank" }
          %img{ src: "img/bigkittylabs.png" }
      .col-md-3.right
        %a{ href: "http://www.gonggongcommunications.com/", target: "_blank" }
          %img{ src: "img/gonggong.gif" }
    .row
      .col-md-12
        %p.margin-top-20
          Interested in partnering with GiveBackHack?&nbsp;
          %a{ href: "contact.html" } We'd love to talk to you!
