.hero.section
  .container
    .row
      .col-md-12
        %h1
          Calling All
          %br
          Change Makers
        %h2
          April 17&mdash;19 (
          %span.days Fri&mdash;Sun
          )
        %h3 CCAD Mindmarket

.steps.grey.section
  .container
    .row
      .col-md-12
        %h1.center GiveBackHack is your Launchpad for Social Innovation
    .row.margin-top-30
      .col-md-4
        %img{ src: "img/bulb.png" }
        %h2 1. Share your idea and/or listen to other partcipants' ideas of how to help solve the community's problems.
      .col-md-4
        %img{ src: "img/hammer.png" }
        %h2 2. Team up around an idea that you believe in and work on over the weekend. Build it with the support of some incredible mentors.
      .col-md-4
        %img{ src: "img/rocket.png" }
        %h2 3. Present the idea with your team to a panel of distinguished judges, who decide which team wins seed funding of up to $10,000!

.sponsors.section
  .container
    .row
      .col-md-12
        %h1 Thanks to Our Sponsors!
    .row
      .col-md-3.left
        %img{ src: "img/createcolumbus.png" }
      .col-md-3.center
        %img{ src: "img/ccad.png" }
      .col-md-3.center
        %img{ src: "img/tonywells.png" }
      .col-md-3.right
        %img{ src: "img/crimsoncup.jpg" }
    .row.margin-top-25
      .col-md-12
        %p
          Interested in partnering with GiveBackHack?&nbsp;
          %a{ href: "#" } We'd love to talk to you!
