.hero.section
  .container
    .row
      .col-md-12
        %h1
          Calling All
          %br
          Change Makers
        %h2
          April 17&mdash;19 (
          %span.days Fri&mdash;Sun
          )
        %h3 CCAD Mindmarket
