.hero.section
  .container
    .row
      .col-md-12
        %h1
          Calling All
          %br
          Change Makers
        %h2
          April 17&mdash;19 (
          %span.days Fri&mdash;Sun
          )
        %h3 CCAD Mindmarket

.steps.grey.section
  .container
    .row
      .col-md-12
        %h1.center GiveBackHack is your Launchpad for Social Innovation
    .row.margin-top-30
      .col-md-4
        %img{ src: "img/bulb.png" }
        %h2 1. Share your idea and/or listen to other partcipants' ideas of how to help solve the community's problems.
      .col-md-4
        %img{ src: "img/hammer.png" }
        %h2 2. Team up around an idea that you believe in and work on over the weekend. Build it with the support of some incredible mentors.
      .col-md-4
        %img{ src: "img/rocket.png" }
        %h2 3. Present the idea with your team to a panel of distinguished judges, who decide which team wins seed funding of up to $10,000!
