.section.title
  .container
    .row
      .col-md-12
        %h1.center Get Involved
.section.subtitle
  .container
    .row
      .col-md-12
        %h2.center
          We are looking for&nbsp;
          %span.pink participants
          ,&nbsp;
          %span.pink mentors
          , and&nbsp;
          %span.pink sponsors
          .

.section.content
  .container
    .row
      .col-md-3.center
        %h1 Participants
        %img.partial-width.margin-top-20{ src: "img/handx.png" }
      .col-md-9
        %p.margin-top-40 As a participant in GiveBackHack, here are a few items you can expect to take away from the weekend:
        %ul
          %li Networking with community leaders and local businesses
          %li Learn new skills from team members and mentors
          %li Winning teams will receive Create Columbus grant money to continue developing their idea
          %li Make a lasting impact on the Columbus community
          %li 7 meals, over the course of the weekend
          %li GiveBackHack T-Shirt
        %p.margin-top-25
          %a.button{ href: "http://www.eventbrite.com/e/givebackhack-tickets-15463827725" } Register now!
    %hr
    .row.margin-top-25
      .col-md-3.center
        %h1 Mentors
        %img.partial-width.margin-top-20{ src: "img/plusx.png" }
      .col-md-9
        %p.margin-top-40 We are currently looking for community oriented individuals with business development experience to mentor and coach the teams formed at GiveBackHack. As a mentor you will have the opportunity to help lead a team of passionate individuals in planning, developing and implementing lasting change within the community. Mentors will need to be present and available for their teams throughout the entire weekend.
        %p
          %a{ href: "contact.html" } Become a GiveBackHack Mentor &raquo;

    %hr
    .row.margin-top-25
      .col-md-3.center
        %h1 Sponsors
        %img.partial-width.margin-top-20{ src: "img/lighteningx.png" }
      .col-md-9
        %p.margin-top-40 We are currently looking for great companies to sponsor GiveBackHack. GiveBackHack is run through a non-profit organization and is currently looking to partner with other great companies and organizations within the community to make Columbus great! If you are interested in partnering with GiveBackHack please contact us for more information.
        %p
          %a{ href: "contact.html" } Become a GiveBackHack Sponsor &raquo;

