.section.title
  .container
    .row
      .col-md-12
        %h1.center Judges &amp; Mentors

.section.content
  .container
    .row
      .col-md-12
        %h1 Judges

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/tonywells.jpg" }
      .col-md-10
        %h3 Tony Wells
        %h4 The Tony R. Wells Foundation
        %p Check back soon for more about Tony.

    %hr

    .row
      .col-md-2
        %img{ src: "img/mentors/matthewgoldstein.jpg" }
      .col-md-10
        %h3 Matthew Goldstein
        %h4 Besa Community, Inc.
        %p Check back soon for more about Matthew.


    .row.margin-top-50
      .col-md-12
        %h1 Mentors

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/joedeloss.jpg" }
      .col-md-10
        %h3 Joe Deloss
        %h4 Hot Chicken Takeover
        %p Check back soon for more about Joe.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/ryanfrederick.jpg" }
      .col-md-10
        %h3 Ryan Frederick
        %h4 AWH
        %p Check back soon for more about Ryan.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/danrockwell.jpg" }
      .col-md-10
        %h3 Dan Rockwell
        %h4 Big Kitty Labs
        %p Check back soon for more about Dan.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/stevemoore.jpg" }
      .col-md-10
        %h3 Steven Moore
        %h4 The Columbus Foundation
        %p Check back soon for more about Steven.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/michaelschott.jpg" }
      .col-md-10
        %h3 Michael Schott
        %h4 Signet Equity Partners
        %p Check back soon for more about Michael.

