.section.title
  .container
    .row
      .col-md-12
        %h1.center Judges &amp; Mentors

.section.content.judges
  .container
    .row
      .col-md-12
        %h1 Judges

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/tonywells.jpg" }
      .col-md-10
        %h3 Tony Wells
        %h4 The Tony R. Wells Foundation
        %p Check back soon for more about Tony.

    %hr

    .row
      .col-md-2
        %img{ src: "img/mentors/matthewgoldstein.jpg" }
      .col-md-10
        %h3 Matthew Goldstein
        %h4 Besa Community, Inc.
        %p Check back soon for more about Matthew.


    .row.margin-top-50
      .col-md-12
        %h1 Mentors

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/joedeloss.jpg" }
      .col-md-10
        %h3 Joe Deloss
        %h4 Hot Chicken Takeover
        %p Joe, who also founded FreshBox, now serves as Founder and Head Fryer at Hot Chicken Takeover. HTC provides second-chance employment and skills training while teaching adventurous Columbus residents a thing or two about spicy chicken.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/jayclouse.jpg" }
      .col-md-10
        %h3 Jay Clouse
        %h4 Tixers
        %p Forward-thinking and highly functioning Reds-aholic. Jay loves meeting new people for coffee and spitballing with other Columbus entrepreneurs. Recently he launched his second solo-venture, Boosted Brands, to help small businesses build a better online presence. In 2012, I launched my first solo venture, MarketOSU: Ohio State's largest student-only marketplace. Former President of the Business Builders Club, Ohio State's entrepreneurship organization. Startup Weekend and StartupBus alum, as well as a TechColumbus Student Entrepreneur of the Year. I once bought Dave McClure a beer and he told me that my pitch "didn't completely suck." In 2013, I was the recipient of the Fisher College of Business's highest honor, the Pace Setter, as well as President of the Year. But really, I just love Reds baseball.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/ryanfrederick.jpg" }
      .col-md-10
        %h3 Ryan Frederick
        %h4 AWH
        %p Check back soon for more about Ryan.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/danrockwell.jpg" }
      .col-md-10
        %h3 Dan Rockwell
        %h4 Big Kitty Labs
        %p Dan comes from a heavy background of DIY self taught talents including video production and animation, design, and marketing. His mainline activities take him into the world of design research at Lextant where for 11+ years he’s been Lextant’s Tool Czar and key Futurist. In 2008 he stumbled upon Startup Weekend Columbus, and won the TechGenesis 50k grant fund for the creation of JoeMetric, a mobile survey startup he led and started with 7 others. With a compulsive vision and insane work ethic he created BKL in 2009 to explore the horizon of “what if and why not” with fellow JoeMetric co-founder and friend Tushar Kulkarni. Dan’s role in BKL is vision, concepts, brand, user experience, research and tactical yummyness.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/patpohler.jpg" }
      .col-md-10
        %h3 Patrick Pohler
        %h4 Anecka
        %p Patrick Pohler has been developing web-based software for 10 years, he’s worked with large organizations such as Chase and the American Cancer Society, as well as startups such as Death to the Stock Photo. Patrick is the founder of local web and mobile web agency, Anecka, where he provides his technical expertise to startups, small businesses and non-profits.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/stevemoore.jpg" }
      .col-md-10
        %h3 Steven Moore
        %h4 The Columbus Foundation
        %p Check back soon for more about Steven.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/michaelschott.jpg" }
      .col-md-10
        %h3 Michael Schott
        %h4 Signet Equity Partners
        %p Check back soon for more about Michael.

