.section.title
  .container
    .row
      .col-md-12
        %h1.center Judges &amp; Mentors

.section.content.judges
  .container
    .row
      .col-md-12
        %h1 Judges

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/tonywells.jpg" }
      .col-md-10
        %h3 Tony Wells
        %h4 The Tony R. Wells Foundation
        %p Check back soon for more about Tony.

    %hr

    .row
      .col-md-2
        %img{ src: "img/mentors/matthewgoldstein.jpg" }
      .col-md-10
        %h3 Matthew Goldstein
        %h4 Besa Community, Inc.
        %p Matthew launched Besa, a Columbus-based charity that connects people to community service. In its first 2 years, Besa has curated 250 service projects and contributed $225k in goods and services back to local nonprofits. Matthew is originally from Philadelphia. He graduated from Ohio State University with degrees in Marketing and Political Science. 


    .row.margin-top-50
      .col-md-12
        %h1 Mentors

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/joedeloss.jpg" }
      .col-md-10
        %h3 Joe Deloss
        %h4 Hot Chicken Takeover
        %p Joe, who also founded FreshBox, now serves as Founder and Head Fryer at Hot Chicken Takeover. HTC provides second-chance employment and skills training while teaching adventurous Columbus residents a thing or two about spicy chicken.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/stevenmoore.jpg" }
      .col-md-10
        %h3 Steven Moore
        %h4 The Columbus Foundation
        %p Steven, in addition to working with donors and their professional advisors to identify charitable goals, plays a lead role in supporting and growing organization endowment funds and philanthropic activities beyond central Ohio. Steven serves as a liaison to the Pickaway County Community Foundation, the Dublin Foundation, and other regional community foundations.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/michaelschott.jpg" }
      .col-md-10
        %h3 Michael Schott
        %h4 Signet Equity Partners
        %p Check back soon for more about Michael.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/brookepaul.jpg" }
      .col-md-10
        %h3 Brooke Paul
        %h4 Taivara
        %p Through his roles as CEO, CTO, founder, and investor, Brooke Paul has helped numerous early stage companies raise capital, grow revenue, develop products and successfully exit. He founded his first company in 1993 and continues to build and be involved with new companies in the Internet technology, software and IT security industries. He founded Taivara and Founder’s Factory to help early stage companies find viable and sustainable businesses. Through this work and more, he directly impacts and fosters the growth of Columbus’ entrepreneurial ecosystem. 

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/jayclouse.jpg" }
      .col-md-10
        %h3 Jay Clouse
        %h4 Tixers
        %p Forward-thinking and highly functioning Reds-aholic. Jay loves meeting new people for coffee and spitballing with other Columbus entrepreneurs. Recently he launched his second solo-venture, Boosted Brands, to help small businesses build a better online presence. In 2012, I launched my first solo venture, MarketOSU: Ohio State's largest student-only marketplace. Former President of the Business Builders Club, Ohio State's entrepreneurship organization. Startup Weekend and StartupBus alum, as well as a TechColumbus Student Entrepreneur of the Year. I once bought Dave McClure a beer and he told me that my pitch "didn't completely suck." In 2013, I was the recipient of the Fisher College of Business's highest honor, the Pace Setter, as well as President of the Year. But really, I just love Reds baseball.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/loishall.jpg" }
      .col-md-10
        %h3 Lois Hall
        %h4 Ohio Public Health Association
        %p Lois Hall’s career is Public Health, in the broadest sense, and she loves finding creative ways to help people live healthier lives – physically, mentally, emotionally, spiritually and relationally.  Lois is the Executive Director of the Ohio Public Health Association.  She is also a national trainer for the Grief Recovery Institute. 

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/ryanfrederick.jpg" }
      .col-md-10
        %h3 Ryan Frederick
        %h4 AWH
        %p Check back soon for more about Ryan.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/danrockwell.jpg" }
      .col-md-10
        %h3 Dan Rockwell
        %h4 Big Kitty Labs
        %p Dan comes from a heavy background of DIY self taught talents including video production and animation, design, and marketing. His mainline activities take him into the world of design research at Lextant where for 11+ years he’s been Lextant’s Tool Czar and key Futurist. In 2008 he stumbled upon Startup Weekend Columbus, and won the TechGenesis 50k grant fund for the creation of JoeMetric, a mobile survey startup he led and started with 7 others. With a compulsive vision and insane work ethic he created BKL in 2009 to explore the horizon of “what if and why not” with fellow JoeMetric co-founder and friend Tushar Kulkarni. Dan’s role in BKL is vision, concepts, brand, user experience, research and tactical yummyness.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/bradgriffith.jpg" }
      .col-md-10
        %h3 Brad Griffith
        %h4 Buckeye Interactive
        %p Brad is a web developer and startup architect with equal passion for web technology and startup business strategy. He founded Buckeye Interactive after several years of consulting and developing web applications in-house for companies including JPMorgan Chase, QUALCOMM and the Go Big Network (now Startups.co). Brad earned a BS in Electrical & Computer Engineering and an MBA from The Ohio State University. He lives in New Albany with his wife and their two beautiful little girls.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/patpohler.jpg" }
      .col-md-10
        %h3 Patrick Pohler
        %h4 Anecka
        %p Patrick Pohler has been developing web-based software for 10 years, he’s worked with large organizations such as Chase and the American Cancer Society, as well as startups such as Death to the Stock Photo. Patrick is the founder of local web and mobile web agency, Anecka, where he provides his technical expertise to startups, small businesses and non-profits.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/allenproctor.jpg" }
      .col-md-10
        %h3 Allen Proctor
        %h4 Center for Social Enterprise Development
        %p Allen Proctor is the President & CEO of the Center for Social Enterprise Development, founded in 2014 to support development of local social enterprises.  Mr. Proctor has nearly 30 years of experience evaluating the financial health of organizations, developing effective business strategies, and enhancing organizational effectiveness. Allen has regularly developed innovative solutions to the financial and performance challenges of nonprofit organizations and for-profit corporations. Allen earned his A.B. magna cum laude from Harvard University and his Ph.D. in economics and forecasting from the University of Wisconsin-Madison.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/adamfazio.jpg" }
      .col-md-10
        %h3 Adam Fazio
        %h4 Local Matters
        %p Adam Fazio is the Director of Operations for Local Matters, overseeing all grants and program funding for the organization, in addition to managing databases and program evaluations. Prior to joining Local Matters, he served as Project Manager for a large-scale qualitative research study of drug-using behaviors in urban populations in the San Francisco Bay Area. Working at Local Matters provides an opportunity to combine his passion for food-systems transformation and social justice work. Adam holds a B.A. from Middlebury College in Sociology/Anthropology and French. He lives in German Village with his partner, Karl.

    %hr

    .row.margin-top-15
      .col-md-2
        %img{ src: "img/mentors/mariahbeidleman.jpg" }
      .col-md-10
        %h3 Mariah Beidleman
        %h4 Community Housing Network
        %p Mariah Beidleman is a seasoned public relations practitioner, writer, editor and graphic designer. In addition to serving as a communication specialist for a nonprofit, Community Housing Network, Mariah assists small- to mid-size companies with their business development, client outreach and B2B communication needs and is a Communication instructor at Ohio Christian University.  Mariah earned a BS in Journalism with a concentration in  Public Relations and specializations in Business and Sociology from the E.W. Scripps School of Journalism at Ohio University, and a MA in Communication and Organizational Leadership from Gonzaga University.

