.section.title
  .container
    .row
      .col-md-12
        %h1.center Schedule

.section.content
  .container
    .row
      .col-md-7
        %h1 Friday &mdash; April 17
        %dl.margin-top-15
          %dt 5:30pm
          %dd Doors Open
          %dt 6:00pm
          %dd Dinner, Idea Sharing, &amp;  Networking
          %dt 6:30pm
          %dd Welcome &amp; Speakers
          %dt 7:30pm
          %dd Idea Pitches Start
          %dt 8:15pm
          %dd Attendees Vote on Top Ideas
          %dt 8:30pm
          %dd Start Forming Teams
          %dt 9:00pm
          %dd Formalize Teams and Start Hacking
          %dt 11:15pm
          %dd Wrap Up &amp; Facilities Close

        %hr

        %h1 Saturday &mdash; April 18
        %dl.margin-top-15
          %dt 9:00am
          %dd Doors Open, Scrumptious Breakfast to start the day!
          %dt 10:00am
          %dd Morning Business &amp; Non-profit Mentors Arrive
          %dt 12:00pm
          %dd Lunch &amp; Speaker
          %dt 12:45pm
          %dd Circle Up for Community Updates
          %dt 2:00pm
          %dd Afternoon Business &amp; Non-profit Mentors Arrive
          %dt 6:00pm
          %dd Dinner
          %dt 7:30pm
          %dd Community Updates
          %dt 11:15pm
          %dd Wrap up for Day! Facilities Close

        %hr

        %h1 Sunday &mdash; April 19
        %dl.margin-top-15
          %dt 9:00am
          %dd Doors Open, Scrumptious Breakfast to start the day!
          %dt 10:30am
          %dd
            Morning Business/Non-profit Mentors Arrive
            %br Community Updates &amp; Calls for Help
          %dt 12:00pm
          %dd Lunch
          %dt 12:30pm
          %dd Mentor One-on-Ones
          %dt 3:00pm
          %dd Start Preparing Presentations
          %dt 3:30pm
          %dd Presentation Tech Check
          %dt 5:00pm
          %dd Dinner
          %dt 5:30pm
          %dd Community Arrives and Final Presentations
          %dt 8:00pm
          %dd Judging &amp; Awards
          %dt 8:30pm
          %dd Post-Event Celebration

      .col-md-5.right
        %p.center
          %strong Attendants can park in any CCAD parking lot Friday, Saturday, and Sunday, as well as the church across the street from the Mind Market on Friday and Saturday (not Sunday).
        %img.margin-top-40{ src: "img/location.png" }
        %p.margin-top-20.center
          %em Note: All events will be taking place at the CCAD MindMarket.
